.colorTitulo1{
    color: rgb(209, 63, 63);
    background-color: rgb(73, 127, 243);
}
.colorTitulo2{
    color: rgb(20, 20, 20);
    background-color: rgb(100,149,237);
}
.colorTitulo3{
    color: rgb(255, 0, 0);
    background-color: rgb(98, 119, 235);
}
.colorTitulo4{
    color: rgb(126, 68, 68);
    background-color: rgb(72,209,204);
}
h1{
    font-family: 'DynaPuff', cursive;
    text-align: center;
    text-decoration: underline;
}
p{
    font-family: 'Shadows Into Light', cursive;
    line-height: 1.5;
}
.Mario1{
    color:aliceblue;
    font-size: large;
    font-weight:normal;
    background-image: 
    url(../img/Nintendo\ Super\ Mario\ Bros.\ Different\ Forms.gif);
    background-position: bottom;
    background-size: contain;
    background-repeat:unset;
}
.Mario2{
    font-size:larger;
    font-weight: bolder;
    background-image: 
    url(../img/Super_Mario_Bros-panoramica.jpg);
    background-position:bottom;
    background-size:cover;
}
.Mario3{
    color:aliceblue;
    font-size:larger;
    background-image: url(../img/method-sl30.gif);
    background-position:bottom;
    background-size:cover;
}
.Mario4{
    font-size:larger;
    font-weight: bold;
    background-image: url(../img/Fondo\ Super\ Mario.jpeg);
    background-position:bottom;
    background-size:cover;
}
